<%- include ('../partials/header') %>

<title>Patient Details</title>
<link type="text/css" rel="stylesheet" href="/stylesheets/patient-details.css" />


<% var token = (regPatient.token < 10)?'00'+regPatient.token:((regPatient.token < 100)?'0'+regPatient.token:regPatient.token) %>
<% if(regPatient.visit_type == 'appointment'){ %>
    <% var token = "A" + token %>
<% }else{ %>
    <% var token = "T" + token %>
<% } %>

<% if(regPatient.stage1.date!=undefined){ %>
    <% var rem1 = regPatient.stage1.date.getTime() %>
    <% var h1 = regPatient.stage1.date.getHours() %>
    <% var m1 = regPatient.stage1.date.getMinutes() %>
    <% var s1 = regPatient.stage1.date.getSeconds() %>
    <% var hh1 = (h1 < 10)?'0'+h1:h1 %>
    <% var mm1 = (m1 < 10)?'0'+m1:m1 %>
    <% var ss1 = (s1 < 10)?'0'+s1:s1 %>
    <% var d1 = regPatient.stage1.date.getDate() %>
    <% var month1 = regPatient.stage1.date.getMonth()+1 %>
    <% var yy1 = regPatient.stage1.date.getFullYear() %>
    <% var dd1 = (d1 < 10)?'0'+d1:d1 %>
    <% var mmonth1 = (month1 < 10)?'0'+month1:month1 %>
<% } %>

<% if(regPatient.stage4.date!=undefined){ %>
    <% var rem4 = regPatient.stage4.date.getTime() %>
    <% var h4 = regPatient.stage4.date.getHours() %>
    <% var m4 = regPatient.stage4.date.getMinutes() %>
    <% var s4 = regPatient.stage4.date.getSeconds() %>
    <% var hh4 = (h4 < 10)?'0'+h4:h4 %>
    <% var mm4 = (m4 < 10)?'0'+m4:m4 %>
    <% var ss4 = (s4 < 10)?'0'+s4:s4 %>
    <% var d4 = regPatient.stage4.date.getDate() %>
    <% var month4 = regPatient.stage4.date.getMonth()+1 %>
    <% var yy4 = regPatient.stage4.date.getFullYear() %>
    <% var dd4 = (d4 < 10)?'0'+d4:d4 %>
    <% var mmonth4 = (month4 < 10)?'0'+month4:month4 %>
<% } %>

<% if(regPatient.stage3.date!=undefined){ %>
    <% var rem3 = regPatient.stage3.date.getTime() %>
    <% var h3 = regPatient.stage3.date.getHours() %>
    <% var m3 = regPatient.stage3.date.getMinutes() %>
    <% var s3 = regPatient.stage3.date.getSeconds() %>
    <% var hh3 = (h3 < 10)?'0'+h3:h3 %>
    <% var mm3 = (m3 < 10)?'0'+m3:m3 %>
    <% var ss3 = (s3 < 10)?'0'+s3:s3 %>
    <% var d3 = regPatient.stage3.date.getDate() %>
    <% var month3 = regPatient.stage3.date.getMonth()+1 %>
    <% var yy3 = regPatient.stage3.date.getFullYear() %>
    <% var dd3 = (d3 < 10)?'0'+d3:d3 %>
    <% var mmonth3 = (month3 < 10)?'0'+month3:month3 %>
<% } %>

<% if(regPatient.stage2.inTime.date!=undefined){ %>
    <% var rem2i = regPatient.stage2.inTime.date.getTime() %>
    <% var h2i = regPatient.stage2.inTime.date.getHours() %>
    <% var m2i = regPatient.stage2.inTime.date.getMinutes() %>
    <% var s2i = regPatient.stage2.inTime.date.getSeconds() %>
    <% var hh2i = (h2i < 10)?'0'+h2i:h2i %>
    <% var mm2i = (m2i < 10)?'0'+m2i:m2i %>
    <% var ss2i = (s2i < 10)?'0'+s2i:s2i %>
    <% var d2i = regPatient.stage2.inTime.date.getDate() %>
    <% var month2i = regPatient.stage2.inTime.date.getMonth()+1 %>
    <% var yy2i = regPatient.stage2.inTime.date.getFullYear() %>
    <% var dd2i = (d2i < 10)?'0'+d2i:d2i %>
    <% var mmonth2i = (month2i < 10)?'0'+month2i:month2i %>
<% } %>

<% if(regPatient.stage2.outTime.date!=undefined){ %>
    <% var rem2o = regPatient.stage2.outTime.date.getTime() %>
    <% var h2o = regPatient.stage2.outTime.date.getHours() %>
    <% var m2o = regPatient.stage2.outTime.date.getMinutes() %>
    <% var s2o = regPatient.stage2.outTime.date.getSeconds() %>
    <% var hh2o = (h2o < 10)?'0'+h2o:h2o %>
    <% var mm2o = (m2o < 10)?'0'+m2o:m2o %>
    <% var ss2o = (s2o < 10)?'0'+s2o:s2o %>
    <% var d2o = regPatient.stage2.outTime.date.getDate() %>
    <% var month2o = regPatient.stage2.outTime.date.getMonth()+1 %>
    <% var yy2o = regPatient.stage2.outTime.date.getFullYear() %>
    <% var dd2o = (d2o < 10)?'0'+d2o:d2o %>
    <% var mmonth2o = (month2o < 10)?'0'+month2o:month2o %>
<% } %>

<div class="row">
    <div class="col-lg-3">
        <div class="detail-box">
            <h5>Personal Details:</h5>
            <p>Name : <%= patient.fname + " " + patient.lname %></p>
            <p>Age : <%= patient.age %></p>
            <p>Gender : <%= patient.gender %></p>
        </div>
    </div>
    
    <div class="col-lg-3">
        <div class="detail-box">
            <h5>Contact Details:</h5>
            <p>Contact No : <%= patient.contact %></p>
            <p>Email Id : <%= patient.email %></p>
            <p>Address : <%= patient.address %></p>
        </div>
    </div>

    <div class="col-lg-3">
        <div class="detail-box">
            <h5>Credentials :</h5>
            <p>Username : <%= patient.username %></p>
            <p>Patient ID : <%= patient._id %></p>
        </div>
    </div> 

    <div class="col-lg-3">
        <div class="detail-box">
            <h5>Visit Details:</h5>
            <% if(regPatient.stage1.date!=undefined){ %>
                <p>Date Of Visit : <%= dd1 + "-" + mmonth1 + "-" + yy1 %></p>
            <% } %>
            <p>Register Id : <%= regPatient._id %></p>
            <p>Token No : <%= token %></p>
            <p>Visit Type : <%= regPatient.visit_type %></p>
            <p>Reason : <%= regPatient.reason %></p>
        </div>
    </div>
</div>

<div class="detail-line">
    <% if(regPatient.stage1.date!=undefined){ %>
        <div>Registration Time : <%= regPatient.stage1.date.toString() %></div>
    <% }else{ %>
        <div>Registration Time : --:--:--</div>
    <% } %>
</div>

<div class="row">
    <div class="col-lg-4">
        <div class="detail-box">
            <h5>Consultation Stage:</h5>
            <% if(regPatient.stage2.inTime.date!=undefined && regPatient.stage2.outTime.date!=undefined){ %>
                <p>In Time : <%= hh2i + ":" + mm2i + ":" + ss2i %></p>
            <% }else{ %>
                <p>In Time : --:--:--</p>
            <% } %>
            <% if(regPatient.stage2.outTime.date!=undefined){ %>
                <p>Out Time : <%= hh2o + ":" + mm2o + ":" + ss2o %></p>
            <% }else{ %>
                <p>Out Time : --:--:--</p>
            <% } %>
            <% if(regPatient.stage2.outTime.date!=undefined){ %>
                <% var rem = rem2i-rem1 %>
                <% var remH = Math.floor(rem/(1000*60*60)) %>
                <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
                <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
                <% var remH = (remH < 10)?'0'+remH:remH %>
                <% var remM = (remM < 10)?'0'+remM:remM %>
                <% var remS = (remS < 10)?'0'+remS:remS %>
                <p>Wait Time: <%= remH + "hrs " + remM + "mins " + remS + "secs"%></p>
            <% }else{ %>
                <p>Wait Time : --hrs --mins --secs </p>
            <% } %>
            <% if(regPatient.stage2.outTime.date!=undefined){ %>
                <% var rem = rem2o-rem2i %>
                <% var remH = Math.floor(rem/(1000*60*60)) %>
                <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
                <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
                <% var remH = (remH < 10)?'0'+remH:remH %>
                <% var remM = (remM < 10)?'0'+remM:remM %>
                <% var remS = (remS < 10)?'0'+remS:remS %>
                <div>Servicing Time: <%= remH + "hrs " + remM + "mins " + remS + "secs"%></div>
            <% }else{ %>
                <div>Servicing Time : --hrs --mins --secs</div>
            <% } %>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="detail-box">
            <h5>Billing Stage:</h5>
            <% if(regPatient.stage2.outTime.date!=undefined && regPatient.stage3.date!=undefined){ %>
                <p>In Time : <%= hh2o + ":" + mm2o + ":" + ss2o %></p>
            <% }else{ %>
                <p>In Time : --:--:--</p>
            <% } %>
            <% if(regPatient.stage3.date!=undefined){ %>
                <p>Out Time : <%= hh3 + ":" + mm3 + ":" + ss3 %></p>
            <% }else{ %>
                <p>Out Time : --:--:--</p>
            <% } %>
            <% if(regPatient.stage3.date!=undefined){ %>
                <% var rem = rem3-rem2o %>
                <% var remH = Math.floor(rem/(1000*60*60)) %>
                <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
                <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
                <% var remH = (remH < 10)?'0'+remH:remH %>
                <% var remM = (remM < 10)?'0'+remM:remM %>
                <% var remS = (remS < 10)?'0'+remS:remS %>
                <p>Wait Time + Servicing Time : <%= remH + "hrs " + remM + "mins " + remS + "secs"%></p>
            <% }else{ %>
                <p>Wait Time + Servicing Time : --hrs --mins --secs</p>
            <% } %>
        </div>
    </div>

    <div class="col-lg-4">
        <div class="detail-box">
            <h5>Medicine Stage:</h5>
            <% if(regPatient.stage3.date!=undefined && regPatient.stage4.date!=undefined){ %>
                <p>In Time : <%= hh3 + ":" + mm3 + ":" + ss3 %></p>
            <% }else{ %>
                <p>In Time : --:--:--</p>
            <% } %>
            <% if(regPatient.stage4.date!=undefined){ %>
                <p>Out Time : <%= hh4 + ":" + mm4 + ":" + ss4 %></p>
            <% }else{ %>
                <p>Out Time : --:--:--</p>
            <% } %>
            <% if(regPatient.stage4.date!=undefined){ %>
                <% var rem = rem4-rem3 %>
                <% var remH = Math.floor(rem/(1000*60*60)) %>
                <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
                <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
                <% var remH = (remH < 10)?'0'+remH:remH %>
                <% var remM = (remM < 10)?'0'+remM:remM %>
                <% var remS = (remS < 10)?'0'+remS:remS %>
                <p>Wait Time + Servicing Time : <%= remH + "hrs " + remM + "mins " + remS + "secs"%></p>
            <% }else{ %>
                <p>Wait Time + Servicing Time : --hrs --mins --secs</p>
            <% } %>
        </div>
    </div>
</div>

<div class="detail-line">
    <% if(regPatient.stage4.date!=undefined){ %>
        <% var rem = rem4-rem1 %>
        <% var remH = Math.floor(rem/(1000*60*60)) %>
        <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
        <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
        <% var remH = (remH < 10)?'0'+remH:remH %>
        <% var remM = (remM < 10)?'0'+remM:remM %>
        <% var remS = (remS < 10)?'0'+remS:remS %>
        <div>Total Time Spend In Hospital : <%= remH + "hrs " + remM + "mins " + remS + "secs" %></div>
    <% }else if(regPatient.stage3.date!=undefined){ %>
        <% var rem = rem3-rem1 %>
        <% var remH = Math.floor(rem/(1000*60*60)) %>
        <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
        <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
        <% var remH = (remH < 10)?'0'+remH:remH %>
        <% var remM = (remM < 10)?'0'+remM:remM %>
        <% var remS = (remS < 10)?'0'+remS:remS %>
        <div>Total Time Spend In Hospital : <%= remH + "hrs " + remM + "mins " + remS + "secs" %></div>
    <% }else if(regPatient.stage2.outTime.date!=undefined){ %>
        <% var rem = rem2o-rem1 %>
        <% var remH = Math.floor(rem/(1000*60*60)) %>
        <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
        <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
        <% var remH = (remH < 10)?'0'+remH:remH %>
        <% var remM = (remM < 10)?'0'+remM:remM %>
        <% var remS = (remS < 10)?'0'+remS:remS %>
        <div>Total Time Spend In Hospital : <%= remH + "hrs " + remM + "mins " + remS + "secs" %></div>
    <% }else if(regPatient.stage2.inTime.date!=undefined){ %>
        <% var rem = rem2i-rem1 %>
        <% var remH = Math.floor(rem/(1000*60*60)) %>
        <% var remM = Math.floor(rem/(1000*60)) - remH*60 %>
        <% var remS = Math.floor(rem/1000) - ((remH*60 + remM)*60) %>
        <% var remH = (remH < 10)?'0'+remH:remH %>
        <% var remM = (remM < 10)?'0'+remM:remM %>
        <% var remS = (remS < 10)?'0'+remS:remS %>
        <div>Total Time Spend In Hospital : <%= remH + "hrs " + remM + "mins " + remS + "secs" %></div>
    <% }else if(regPatient.stage1.date!=undefined){ %>
        <div>Total Time Spend In Hospital : 00hrs 00mins 00secs</div>
    <% }else{ %>
        <div>Total Time Spend In Hospital : --hrs --mins --secs</div>
    <% } %>
</div>

<br>


<%- include ('../partials/footer') %>
